.project-examples-container {
  width: fill;
}

.project-example-header-container {
  width: fill;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 72px;
  padding-left: 72px;
  padding-right: 72px;
  
  background-color: #111;
}

.project-example-header-item {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;

  align-items: center;

  transition: transform 1s ease;

  color: #ffffff;
}

.project-example-container {
  width: fill;
  height: 90vh;

  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  background-color: #111;
}

.project-image-container {
  /* flex: 1; */
}

.align-to-bottom-container {
  position: relative;
  height: 100%;
}

.align-to-bottom {
  position: absolute;
  bottom: 50px;
}