.title {
  font-family: 'Tiro Tamil';
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  color: #111111;
  padding-top: 24px;
}

.subtitle {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}