.contact-container {
  width: fill;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

.center-text-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  overflow: hidden;

  font-family: 'Amiri';
  font-style: normal;
  font-weight: 800;
  font-size: 160px;
  line-height: 200px;
  text-align: center;

  color: #111111;
  text-shadow: 0 0 64px #ffffff, 0 0 64px #ffffff;

  z-index: 100;

  transition: font-size 0.1s;
}

.center-text-float-up {
  transform: translateY(100%);
  transition: transform 1s;
}

.center-text:hover {
  font-size: 170px;
}

.wrapped-text {
  word-wrap: break-word;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  text-align: center;
  vertical-align: text-top;

  color: #333333;

  padding: 30px;

  transition: opacity 2s;
}

.boldable-text {
  transition: all 0.5s;
}