.fluid-overlay {
    position: absolute;
      top: 200px;
      width: 100%;
      text-align: center;
      z-index: 100;
      display:block;
  
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 145px;
    text-align: center;
  
    color: #ffe0b6;
    /* color: #ffffff; */
    mix-blend-mode: difference;
  
    /* no highlighting */
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  
    /* Ignore mouse events so they get passed through to the three canvas. */
    pointer-events: none;
  }