.about-container {
  width: fill;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #fff;
}

.about-rolodex {
  transform: translate(-120%);
  flex: 1;
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: left;

  color: #111111;

  /* Transform-translate should slide in slowly */
  transition: transform 1.25s ease;
}

.about-rolodex-highlight {
  font-weight: 600;
}

.about-image-container {
  text-align: left;
  flex: 1;
}

.about-image {
  width: 80%;
}