.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  align-items: center;
}

.subtitle {
  font-family: 'NanumGothic';
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #111111;
}